[Unit]
Description=ZeroTier for Zima Remote Client (user)
After=network-online.target

[Service]
Type=simple
ExecStart=%h/.local/lib/zima-remote/zerotier/zerotier-one %h/.zima-zerotier
ExecStop=%h/.local/lib/zima-remote/zerotier/zerotier-cli -D %h/.zima-zerotier shutdown
Restart=always
RestartSec=5
NoNewPrivileges=yes

[Install]
WantedBy=default.target
